<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li class="active">Search</li>
</ol>

Search Results.

<div ng-repeat="eventResult in SearchResults.eventResults">
    Search Result Name: {{eventResult.Name}}
    <br />
    Search Result Description: {{eventResult.Description}}
    <p></p>
</div>
<p></p>
<div ng-repeat="channelResult in SearchResults.channelResults">
    Search Result Name: {{channelResult.Name}}
    <br />
    Search Result Description: {{channelResult.Description}}
    <p></p>
</div>