<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li class="active">Locations</li>
</ol>

<div ng-show="Locations.length > 0">
    <h1>Locations with upcoming events:</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="location in Locations">
                <td><b><a href="#/locations/{{location.ID}}">{{location.Name}}</a></b></td>
                <td>{{location.Description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="Locations.length == 0">
    <h1>There aren't any locations that are currently active.</h1>
    <h3>(MAYBE YOU WOULD LIKE TO CREATE AN ALERT WHEN ONE IS MADE AVAILABLE?)</h3>
</div>